<div class="formStyle">
  <div>
    <form style=" justify-content: space-around;flex-direction: column;display: flex">
      <mat-form-field appearance="fill">
        <mat-label for="tipo">
          Gruppo Muscolare
        </mat-label>
        <mat-select id="tipo">
          <mat-option *ngFor="let o of tipoOptions"  [value]="o" (onSelectionChange)="setSelectedType(o)">
            {{o}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="esercizi">
          esercizio
        </mat-label>
        <mat-select id="esercizi">
          <mat-option *ngFor="let o of exerciseOptions" [value]="o" (onSelectionChange)="setSelectedExcercise(o)" >
            {{o}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="serie">
          Serie
        </mat-label>
        <input  matInput  formControl id="serie" #serie type="number" value="1" maxlength="10">
      </mat-form-field>
      <mat-form-field>
        <mat-label for="ripetizioni" style="margin-top: 15px">
          Rep
        </mat-label>
        <input  matInput formControl id="ripetizioni" #rep type="number" value="1" maxlength="40">
      </mat-form-field>
        <button mat-raised-button (click)="aggiungi(selectedType,selectedExcercise,serie,rep)">AGGIUNGI</button>
    </form>
  </div>
</div>

