<div class="formStyle">
  <div>
    <form style="flex-direction: column;display: flex;">
      <div>
      <mat-form-field appearance="fill" style="margin-right: 10px">
        <mat-label for="tipo">
          Gruppo Muscolare
        </mat-label>
        <mat-select id="tipo" #type>
          <mat-option *ngFor="let o of tipoOptions"  [value]="o">
            {{o}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="esercizi">
          Esercizio
        </mat-label>
        <mat-select id="esercizi" #excercise >
          <mat-option *ngFor="let o of exerciseOptions" [value]="o">
            {{o}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
        <div style="justify-content: space-around">
      <mat-form-field style="margin-left:23%;margin-right:25%;width: 15%">
        <mat-label for="serie">
          Serie
        </mat-label>
        <input  matInput id="serie" #serie type="number" value="1" maxlength="10">
      </mat-form-field>
      <mat-form-field style="width: 15%">
        <mat-label for="ripetizioni" style="margin-top: 15px">
          Rep
        </mat-label>
        <input  matInput id="ripetizioni" #rep type="number" value="1" maxlength="40">
      </mat-form-field>
        </div>
        <button mat-raised-button (click)="aggiungi(type.value,excercise.value,serie.value,rep.value)">AGGIUNGI</button>
    </form>
  </div>
</div>

